body{
    margin: auto;
    font-family: "Google Fonts", sans-serif;
    background-color: rgb(252, 250, 144);
    background: url(front.jpg) no-repeat;
    background-size: 100%;

}

h1 {
    text-align: center;
}

.form-group{
    margin-bottom: 10px;
}

.form-lable{
    display: block;
    font-weight: bold;
    margin-bottom: 5 px;
}

.container{
    font-size: 25px;
    max-width: 700px;
    margin: auto;
    border: 5px solid rgb(82, 85, 240);
    background-color: rgb(243, 129, 228);
    border-radius: 25px;
}

input, textarea, select {
    font-size: inherit;
}
.btn {
    display: block;
    height: 40px;
    width: 150px;
    margin: 0 auto;
    background-color: rgb(249, 252, 247);
    border: 1px solid rgb(133, 235, 107);
    border-radius: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}