body{
    margin: 0;
    font-family: "Google Fonts", sans-serif;
    background-color: rgb(252, 250, 144);
    background: url(front.jpg) no-repeat;
    background-size: 100%;
    
}

h1 {
    text-align: center;
}

.form-group{
    margin-bottom: 10px;
}

.form-lable{
    display: block;
    font-weight: bold;
    text-align: center;
}

.container{
    font-size: 15px;
    max-width: 200px;
   
    border: 5px solid rgb(237, 176, 245);
    background-color: rgb(170, 191, 230);
    border-radius: 25px;
    margin: 20% 43%;
}

input {
    font-size: inherit;
}
.input{
    margin: 0 auto;

}
.btn {
    display: block;
    height: 20px;
    width: 75px;
    margin: 0 auto;
    background-color: rgb(249, 252, 247);
    border: 1px solid rgb(133, 235, 107);
    border-radius: 5px;
    font-size: 10px;
    color: black;
    font-weight: bold;
}