body{
    background-color: rgb(249, 220, 255);
}

.heading-line{
    width: 95%;
    height: 4px;
    background-color: rgb(245, 201, 135);
}

.navbar {
    padding: 10px;
    background-color:  white;
    border-bottom: 1px solid rgb(245, 201, 135);
    padding-top: 0px;
}

.poisk{
    border: 3px solid rgb(245, 201, 135);
    border-radius: 10px;
}
.poisk-res{
    border: 3px solid rgb(245, 201, 135);
    border-radius: 10px;
}
.modal-menu{
    width: 100%;
    height: auto;
}
.pagination li {
    color: rgb(245, 201, 135);
}